/* Reference colors for this project:
#fd2
#262626
*/

body {
  color: #262626;
  font-family: 'Catamaran', sans-serif;
}

.header {
  text-align: center;
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.my-name {
  font-weight: 900;
}

.welcome-msg {
  font-weight: 500;
}