/* Reference colors for this project:
#fd2
#262626
*/

/* CSS RESET */
*,
*::before,
*::after {
  /* Set no extra padding and margin to all elements */
  padding: 0;
  margin: 0;
  /* Include padding and border in the element's total width and height */
  box-sizing: inherit;
  /* Set general font-size and font weight */
  font-size: 100%;
  font-weight: normal;
}

html {
  /* Set default font size to 10px */
  font-size: 62.5%;
  /* Prevent horizontal scrolling */
  overflow-x: hidden;
  width: 100%;
}

body {
  /* Include padding and border in the element's total width and height */
  box-sizing: border-box;
  /* Prevent horizontal scrolling */
  overflow-x: hidden;
  width: 100%;
}

/* WELCOME PAGE STYLES */
body {
  color: #262626;
  font-family: 'Catamaran', sans-serif;
}

.header {
  text-align: center;
  max-width: 80rem;
  margin: auto;
  padding: 2rem;
}

.my-job {
  font-size: 8rem;
  font-weight: 900;
  line-height: 1.2;
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.welcome-msg {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 5rem;
}

.icons {
  display: flex;
  justify-content: space-around;
  max-width: 40rem;
  margin: 0 auto 8rem auto;
}

.icons i {
  color: #262626;
  font-size: 2.2rem;
}

.icons i:hover {
  color: #fd2;
}

.cta-button {
  color: #262626;
  background-color: #fd2;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  padding: .6rem 5rem;
  border-radius: 25px;
  display: inline-block;
  margin-bottom: 2rem;
}

.cta-button:hover {
  color: #fd2;
  background-color: #262626;
}

/* Change font sizes for smaller screens */
@media only screen and (max-width: 360px) {
  .my-job {
    font-size: 7rem;
  }

  .welcome-msg {
    font-size: 1.8rem;
  }
}